1. Write a Python program to print "Hello, World!"

In [ ]:
print("Hello, World")

Hello, World

2. Write a Python program that displays your name and age?

In [ ]:
print("Name:{akhra},Age:{21}")

Name:{akhra},Age:{21}

3. Write code to print all the pre-defined keywords in Python using the keyword **library**.

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4. Write a program that checks if a given word is a Python keyword.

In [ ]:
import keyword
word = "for"
if keyword.iskeyword(word):
    print(f"{word} is a keyword")
else:
     print(f"{word} is not a keyword")

'for' is a keyword

5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.

In [ ]:
my_list = [1, 2, 3]
my_list = (1, 2, 3)

In [ ]:
#changing list element (mutable)
my_list[0]
print(f"list after change:{my_list}")

list after change:(1, 2, 3)

In [ ]:
#Attempting to change tuple element (immutable)
try:
  my_tuplet[0] = 10
except TypeError as e:
    print(f"Tuple change error: {e}")
print(f"Tuple remains: {my_tuplet}")

6. Write a function to demonstrate the behavior of mutable and immutable arguments

In [ ]:
def update_list(items):
    items.append(4)
    print(f"Inside function (mutable): {items}")

def update_number(number):
    number += 1
    print(f"Inside function (immutable): {number}")

In [ ]:
my_items = [1, 2, 3]
update_list(my_items)
print(f"Outside function (mutable): {my_items}")

my_number = 10
update_number(my_number)
print(f"Outside function (immutable): {my_number}")

7. Write a program that performs basic arithmetic operations on two user-input numbers.

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

Enter the first number: 10
Enter the second number: 20

8. Write a program to demonstrate the use of logical operators.

In [ ]:
age = 25
is_student = True

In [ ]:
print(f"Is person over 18 AND a student? {age > 18 and is_student}")
print(f"Is person under 18 OR a student? {age < 18 or is_student}")
print(f"Is person NOT a student? {not is_student}")

Is person over 18 AND a student? True
Is person under 18 OR a student? True
Is person NOT a student? False

9. Write a Python program to convert user input from string to integer, float, and boolean types

In [ ]:
user_input = input("Enter a value: ")

Enter a value: 100

In [ ]:
try:
    int_val = int(user_input)
    print(f"As integer: {int_val}, Type: {type(int_val)}")
except ValueError:
    print("Cannot convert to integer")

try:
    float_val = float(user_input)
    print(f"As float: {float_val}, Type: {type(float_val)}")
except ValueError:
    print("Cannot convert to float")

bool_val = user_input.lower() == 'true'
print(f"As boolean: {bool_val}, Type: {type(bool_val)}")

As integer: 100, Type: <class 'int'>
As float: 100.0, Type: <class 'float'>
As boolean: False, Type: <class 'bool'>

10.  Write code to demonstrate type casting with list elements.

In [ ]:
str_list = ["1", "2", "3", "4"]

In [ ]:
int_list = [int(x) for x in str_list]
print(f"Original list: {str_list}")
print(f"Casted list: {int_list}")
print(f"Type of first element in new list: {type(int_list[0])}")

Original list: ['1', '2', '3', '4']
Casted list: [1, 2, 3, 4]
Type of first element in new list: <class 'int'>

11. Write a program that checks if a number is positive, negative, or zero

In [ ]:
number = float(input("Enter a number: "))

Enter a number: 110

In [ ]:
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

12. Write a for loop to print numbers from 1 to 10.

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

13. Write a Python program to find the sum of all even numbers between 1 and 50

In [ ]:
total_sum = 0

In [ ]:
for number in range(1, 51):
    if number % 2 == 0:
        total_sum += number

In [ ]:
print(f"The sum of all even numbers between 1 and 50 is: {total_sum}")

The sum of all even numbers between 1 and 50 is: 650

14. Write a program to reverse a string using a while loop

In [ ]:
input_string = input("Enter a string to reverse: ")
reversed_string = ""
length = len(input_string) - 1

Enter a string to reverse: 5

In [ ]:
while length >= 0:
    reversed_string += input_string[length]
    length -= 1

In [ ]:
print(f"Reversed string: {reversed_string}")

Reversed string: 5

15. Write a Python program to calculate the factorial of a number provided by the user using a while loop

In [ ]:
number = int(input("Enter a non-negative integer: "))
factorial = 1
i = 1

Enter a non-negative integer: 2

In [ ]:
if number < 0:
    print("Factorial does not exist for negative numbers.")
elif number == 0:
    print("The factorial of 0 is 1.")
else:
    while i <= number:
        factorial *= i
        i += 1
    print(f"The factorial of {number} is {factorial}")

The factorial of 2 is 2